alembic==1.14.0
altgraph==0.17.4
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2023.7.22
charset-normalizer==3.3.0
click==8.1.7
contourpy==1.2.1
cycler==0.12.1
decorator==4.4.2
Flask==3.0.3
Flask-Admin==1.6.1
Flask-Login==0.6.3
Flask-Migrate==4.0.7
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
fonttools==4.53.0
frozendict==2.4.4
html5lib==1.1
idna==3.4
imageio==2.31.5
imageio-ffmpeg==0.4.9
install==1.3.5
itsdangerous==2.2.0
Jinja2==3.1.4
kiwisolver==1.4.5
lxml==5.2.2
macholib==1.16.3
Mako==1.3.6
MarkupSafe==3.0.2
matplotlib==3.9.1
moviepy==1.0.3
multitasking==0.0.11
numpy==1.26.0
packaging==23.2
pandas==2.2.2
peewee==3.17.5
Pillow==10.0.1
platformdirs==4.2.2
proglog==0.1.10
pygame==2.3.0
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2024.0
pyparsing==3.1.2
python-dateutil==2.8.2
pytz==2024.1
requests==2.31.0
six==1.16.0
soupsieve==2.5
SQLAlchemy==2.0.36
tqdm==4.66.1
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.0.6
webencodings==0.5.1
Werkzeug==3.0.4
WTForms==3.2.1
yfinance==0.2.40
